body {
    background-color: green;
    width: 80%;
    text-align: center;
    margin: auto;
    
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

div {
    width: 60%;
    margin: auto;
}